
body {
  margin: 0;
}

#header,
#footer,
.important,
.interesting,
.surprising {
  width: 300px;
  height: 100px;
  margin: 0 auto;
}

#header {
  background-color: blue;
}

#header:hover {
  height: 200px;
}

#footer {
  background-color: black;
}

#footer:hover {
  height: 200px;
}

.important {
  background-color: red;
}

.important:hover {
  height: 200px;
}

.interesting {
  background-color: green;
}

.interesting:hover {
  height: 200px;
}

.surprising {
  background-color: orange;
}

.surprising:hover {
  height: 200px;
}
